<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117359328114-bmiam3iqq460q8skmv85kcpuhu3ko0cf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117359328114-bmiam3iqq460q8skmv85kcpuhu3ko0cf</string>
	<key>API_KEY</key>
	<string>AIzaSyDotgILioo4-g7pINDKvHcI3hCrFk8qy_s</string>
	<key>GCM_SENDER_ID</key>
	<string>117359328114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneV2</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-d0b51</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-d0b51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117359328114:ios:200bf208de28af1fbbfbeb</string>
</dict>
</plist>